body {
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.block {
    margin: 15px auto;
    padding: 15px;
    border: 1px solid black;
}

.block h3 {
    text-align: center;
}

.block:nth-child(odd) .hash {
    color: blue;
}

.block:nth-child(odd) .prevHash {
    color: red;
}

.block:nth-child(even) .hash {
    color: red;
}

.block:nth-child(even) .prevHash {
    color: blue;
}